@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&family=Playfair+Display&family=Poppins&display=swap');
$headerFont: 'Playfair Display' ,sans-serif;
$bodyFont: 'Poppins' ,sans-serif;
// $bodyFont: 'Big Shoulders Text' ,sans-serif;

$fc-dblue:rgb(17,21,63);
$fc-gray:rgb(151,182,183);
$fc-orange:rgb(242,87,10);

$--tw-ring-shadow: 0 0 #0000;
$--tw-ring-offset-shadow: 0 0 #0000;
$--tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);

// $--menu-card1: ''