@import '_variables';

.menu-section {
  position: relative; 
  height: 150vh;
  background:linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
   
.grid-container {
 
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(50px,25vw));
  margin-inline: 1rem;

}

.card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.menu-element {
  position: relative;
  height: 50vh;
  // padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px black;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: black;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu-element:hover .card-footer {
  // transition: all 0.3s ease-in-out;
  opacity: 1;
}

.menu-element:hover .card-img {
  transform: scale(1.5);
  
}



#card1 {
background-image: url(../assets/images/card1.png) ;
background-size: cover;
}
#card2 {
  background-image: url(../assets/images/card2.png) ;
  background-size: cover;
}
#card3 {
  background-image: url(../assets/images/card3.png) ;
  background-size: cover;
  background-position: c

}

.tripod {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 1px;
}