.parallax-wrapper {
  position: fixed;
  top: 0; 
  z-index: -1;
}


.parallax-img {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/images/parallax-img.jpg');
  background-size: cover;
  background-position: center;
  filter:brightness(0.6);
 
}