.parallax-text {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: white;
  text-align: center;
  span {
    text-transform:uppercase;
  }
}


@media (max-width:900px){
  .parallax-text{
    font-size: 15vw;
  }
}

@media (max-width:400px){
  .parallax-text {
    height: 60vh;
  }
}

 