.parallax-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0; 
  z-index: -1;
}


.parallax-img {
  height: 100%;
  width: 100%;
  // background-image: url('../assets/images/parallax-img1.jpg');
  background-size: cover;
  background-position: center;
  filter:brightness(0.6);
 
}

.parallax1 {
  background-image: url('../assets/images/parallax-img1.jpg');
  transition: all 2s ease;
}

.parallax2 {
  background-image: url('../assets/images/parallax-img2.jpg');
  transition: all 2s ease;
}