.menu-section {
  position: relative; 
  width: 100vw;
  height: 150vh;
  background:linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);

  
  display: flex;
  flex-direction: column;
  justify-content: center;

}